body{
    background-color:#000;
    color:#fff;
    text-align: center;
    overflow-x: hidden;
}
img{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}
.hidden{
    display: none;
}
#todo-form{
    margin-top:20px;
}
#todo-form input{
    width:200px;
}
#todo-list li button{
    margin-left:10px;
}
#quote{
    position: absolute;
    bottom:0%;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
}